body {
    margin: 0;
    font-family: Lato;
}
/* FONT */
h1 {
    font-family: Dosis ;
    font-size: 3rem;
    margin:0;
    color: #fe608c;
}
.subtitle {
    font-size: 1.25rem;
    color:#f77cab;
    margin: -.5em 0;
}
/* LAYOUT */
.container {
    width: 90%;
    margin: 0 auto;  
}
.container-flex{
    display: flex;
    justify-content: space-between; 
    text-align: center;
}
header {
    padding: 4em 0;
    text-align: center;
}

/* NAVIGATION */
nav ul{
    display: flex;
    list-style: none;
    padding: 0;  
}
nav li{
    margin-left: 1.5em;
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #4d4d4d;
    padding: .5rem;
}
nav a:focus,
nav a:hover {
    border-bottom: #fe608c 1px solid;
    color: #fe608c;
    
}
@media (max-width: 675px){
    .container-flex{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
}