body {
    margin: 0;
    font-family: Lato;
    font-weight: 300;
}
/* IMAGE */
img {
    width: 100%;  
    display: block;
}
.article-image {
    max-height: 200px;
    object-fit: cover;
}
.event-photo {
    max-height: 150px;
    object-fit: cover;
}
.about-us-photo {
    max-height: 300px;
    max-width: 200px;
    object-fit:cover;
    margin: 1em auto;
}
/* FONT */
h1 {
    font-family: Dosis ;
    font-size: 3rem;
    margin:0;
    color: #fe608c;
}
.subtitle {
    font-size: 1.25rem;
    color:#f77cab;
    margin: -.5em 0;
}
.logo {
    text-align: center;
}
.article-info{
    color: #808080;
    font-size: .75rem;
    margin-top: 0.25em;
}
.article-title {
    color: #fe608c;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .5em;
}
.article-body {
    font-family: roboto;
    color: #4d4d4d;
    font-size: 1rem;
}
.article-read-more{
    color: #f77cab;
    text-decoration: none;
    font-size: .75rem;
}
.article-read-more:focus,
.article-read-more:hover{
    color:#fe608c;
    text-decoration: underline;
}
/* LAYOUT */
.container {
    width: 90%;
    margin: 0 auto;  
}
.container-flex{
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
}
header {
    padding: 4em 0;
    text-align: center;
}

.article-featured {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #808080;
    padding-bottom: 1em;
}

.article-image {
    order: -1;
    margin-bottom: 1em;
}
.article-recent {
    margin: 2em 0;
}

/* layout on big screen*/
@media (min-width: 675px){
    .container-flex{
        flex-direction: row;
    }
    main {
        width: 65%;
    }
    aside{
        width: 30%;
    }
    .article-recent {
        display: flex;
        justify-content: space-between;
    }
    .article-recent-main {
        width: 60%;
    }
    .article-recent-secondary{
        width: 35%;
    }
}

/* NAVIGATION */
nav ul{
    list-style: none;
    padding: 0;  
    margin-top: 2em;
}
nav li {
    margin: 1em 0;
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #4d4d4d;
    padding: .25rem;
}
nav a:focus,
nav a:hover{
    color: #fe608c;
}
.current-page{
    color:  #fe608c;
    border-bottom: #fe608c 1px solid;
}
/* nav on big screen */
@media (min-width: 675px){
    nav ul{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    nav li{
        margin-left: 1.5em;
    }
}

/* WIDGET*/
.about-us,
.events {
    background-color: #fad1e0;
    padding: 1em;
}
.event{
    margin: 1.5em 0;
    padding-bottom: .75em;
    border-bottom: 1px solid #808080;
}
.event:last-child {
    border: none;
    padding: none;
}
.about-us {
    text-align: center;
    margin-bottom: 2em;
}
.widget-title {
    color: #fe608c;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
}
.widget-article-title {
    font-size: 1rem;
    color: #f77cab;
    font-weight: 700 ;
    margin-bottom: 0;
}
.widget-text {
    color: #808080;
}
.event-time,
.event-price, 
.event-title,
.event-place {
    color: #808080;
    margin: .25em 0;
}
.event-title {
    color: #fe608c;
    font-weight: 700;
}

.event-time{
    color: #4d4d4d;
    font-weight: 700;
}