body {
    margin: 0;
    font-family: Lato;
}
/* IMAGE */
img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
}

/* FONT */
h1 {
    font-family: Dosis ;
    font-size: 3rem;
    margin:0;
    color: #fe608c;
}
.subtitle {
    font-size: 1.25rem;
    color:#f77cab;
    margin: -.5em 0;
}
.logo {
    text-align: center;
}
.article-info{
    color: #808080;
    font-size: 1rem;
}
.article-title {
    color: #fe608c;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: .5em;
}
.article-body {
    font-family: roboto;
    color: #4d4d4d;
    font-size: 1.2rem;
}
.article-read-more{
    color: #f77cab;
    text-decoration: none;
}
.article-read-more:focus,
.article-read-more:hover{
    color:#fe608c;
    text-decoration: underline;
}
/* LAYOUT */
.container {
    width: 90%;
    margin: 0 auto;  
}
.container-flex{
    display: flex;
    justify-content: space-between; 
}
header {
    padding: 4em 0;
    text-align: center;
}
main {
    width: 65%;
}
aside{
    width: 30%;
}
.article-featured {
    display: flex;
    flex-direction: column;
}
.article-image {
    order: -1;
}
.article-recent {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.article-recent-main {
    width: 60%;
}
.article-recent-secondary{
    width: 35%;
    order: -1;
}
/* NAVIGATION */
nav ul{
    display: flex;
    list-style: none;
    padding: 0;  
}
nav li{
    margin-left: 1.5em;
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #4d4d4d;
    padding: .5rem;
}
nav a:focus,
nav a:hover {
    border-bottom: #fe608c 1px solid;
    color: #fe608c;
    
}
@media (max-width: 675px){
    .container-flex{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        text-align: center;
    }
}